<% if @genre.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(genre.errors.count, "error") %> prohibited this genre from being saved:</h2>

    <ul>
      <% @genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group row">
  <label for="name" class="col-sm-2 col-form-label">Name *</label>
  <div class="col-sm-6">
    <%= f.text_field :name, class: "form-control", placeholder: "Enter name" %>
  </div>
</div>

<div class="form-group row">
  <label for="img" class="col-sm-2 col-form-label">Image</label>
  <div class="col-sm-6">
    <%= f.file_field :img, class: "", placeholder: "Image" %>
  </div>
</div>

<div class="form-group row">
  <label for="description" class="col-sm-2 col-form-label">Description</label>
  <div class="col-sm-6">
    <%= f.text_area :description, class: "form-control", placeholder: "Enter description" %>
  </div>
</div>

<div class="form-group row">
  <label for="name" class="col-sm-2 col-form-label">Active</label>
  <div class="col-sm-6">
    <%= f.check_box :is_active %>
  </div>
</div>

