<table class="table table-bordered dataTable" id="genresTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
  <thead>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Description</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @genres.each do |genre| %>
    <tr>
      <td><%= genre.name %></td>
      <td><%= genre.img ? (link_to "<span class='fas fa-image'></span>".html_safe, "#{genre.img}", class: "btn btn-xs btn-primary") : "N/A" %></td>
      <td><%= genre.description %></td>
      <td><%= genre.is_active ? "Active" : "Inactive" %></td>
      <td>
        <%= link_to "<span class='fas fa-eye'></span>".html_safe, genre %>
        <%= link_to "<span class='fas fa-edit'></span>".html_safe, edit_genre_path(genre) %>
        <%= link_to "<span class='fas fa-trash alert-danger'></span>".html_safe, genre, method: :delete, data: {confirm: 'Are you sure?'} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
    $(function () {
        $('#genresTable').DataTable({});
    });
</script>

