<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>Name: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @genre.name %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>Image: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @genre.img ? (link_to "<span class='fas fa-image'></span>".html_safe, "#{@genre.img}", class: "btn btn-xs btn-primary") : "N/A" %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>Description: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @genre.description %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>Status: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @genre.is_active == true ? "Active" : "Inactive" %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="mt-3">
  <%= link_to 'Edit', edit_genre_path(@genre), class: "btn btn-primary" %>
  <%= link_to 'Back', genres_path, class: "btn btn-dark" %>
</div>
