<% if @remote_config.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(remote_config.errors.count, "error") %> prohibited this remote_config from being saved:</h2>

    <ul>
      <% @remote_config.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group row">
  <label for="app_type_id" class="col-sm-2 col-form-label">App type</label>
  <div class="col-sm-6">
    <%= render_app_type(@remote_config.app_type.id) %>
  </div>
</div>

<%= f.fields_for :remote_config_android_uis do |cau| %>
  <%= cau.fields_for :android_ui, cau do |au| %>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"><%= cau.object.android_ui.name %></label>
      <div class="col-sm-6">
        <%= au.select(:grid_type_id, GridType.all.collect {|p| [p.name, p.id]}, {}, class: 'form-control') %>
      </div>
    </div>
  <% end %>
<% end %>

<!--<div class="form-group">
  <label for="name">UI top chart</label>
  <%#= render_grid_types("top_chart",GridType::MAGIC_GRID, @top_chart_grid_type_id) %>
</div>

<div class="form-group">
  <label for="name">UI genre</label>
  <%#= render_grid_types("genres",AndroidUi::GENRES, @genres_grid_type_id) %>
</div>

<div class="form-group">
  <label for="name">UI favourite</label>
  <%#= render_grid_types("favourites",GridType::MAGIC_GRID, @favourites_grid_type_id) %>
</div>

<div class="form-group">
  <label for="name">UI themes</label>
  <%#= render_grid_types("themes",GridType::MAGIC_GRID, @themes_grid_type_id) %>
</div>

<div class="form-group">
  <label for="name">UI details genre</label>
  <%#= render_grid_types("genre_details",GridType::MAGIC_GRID, @genre_details_grid_type_id) %>
</div>

<div class="form-group">
  <label for="name">UI search</label>
  <%#= render_grid_types("search",GridType::MAGIC_GRID, @search_grid_type_id) %>
</div>-->

<div class="form-group row">
  <label for="background_mode_id" class="col-sm-2 col-form-label">Background mode</label>
  <div class="col-sm-6">
    <%= render_background_mode(@remote_config.background_mode.id) %>
  </div>
</div>

<div class="form-group row">
  <label for="disc_type" class="col-sm-2 col-form-label">UI player</label>
  <div class="col-sm-6">
    <%= render_player_types(@remote_config.disc_type) %>
  </div>
</div>