<table class="table table-bordered dataTable" id="appConfigsTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
  <thead>
  <tr>
    <th>Background mode</th>
    <th>UI top chart</th>
    <th>UI genres</th>
    <th>UI favourite</th>
    <th>UI themes</th>
    <th>UI genre details</th>
    <th>UI search</th>
    <th>Background mode</th>
    <th>Disc type</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @remote_configs.each do |remote_config| %>
    <tr>
      <td><%= remote_config.app_type.name %></td>
      <% remote_config.android_uis.includes(:grid_type).each do |t| %>
        <td><%= t.grid_type.name %></td>
      <% end %>
      <td><%= remote_config.background_mode.name %></td>
      <td><%= remote_config.disc_type.name %></td>
      <td>
        <%= link_to "<span class='fas fa-eye'></span>".html_safe, remote_config %>
        <%= link_to "<span class='fas fa-edit'></span>".html_safe, edit_remote_config_path(remote_config) %>
        <%= link_to "<span class='fas fa-trash alert-danger'></span>".html_safe, remote_config, method: :delete, data: {confirm: 'Are you sure?'} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
    $(function () {
        $('#appConfigsTable').DataTable({});
    })
</script>

