<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>App type: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @remote_config.app_type.name %>
  </div>
</div>
<div class="dropdown-divider"></div>

<% @remote_config.android_uis.includes(:grid_type).each do |t| %>
  <div class="row">
    <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>UI <%= t.name %>: </b></label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= t.grid_type.name %>
    </div>
  </div>
  <div class="dropdown-divider"></div>
<% end %>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>Backgound mode: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @remote_config.background_mode.name %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>Disc type: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @remote_config.disc_type.name %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="mt-3">
  <%= link_to 'Edit', edit_remote_config_path(@remote_config), class: "btn btn-primary" %>
  <%= link_to 'Back', remote_configs_path, class: "btn btn-dark" %>
</div>
