<h1><strong>Privacy Policy</strong></h1>

<p>Last updated: 19th Jan&nbsp;2019<br/>
    <br/>
    This privacy policy sets out how&nbsp;<strong>Maison de Wamae</strong>&nbsp;uses and protects any information that
    you give.They are committed to ensuring that your privacy is protected. Should we ask you to provide certain
    information by which you can be identified when using this app, then you can be assured that it will only be used in
    accordance with this privacy statement. <strong>maison de Wamae</strong>&nbsp;may change this policy from time to
    time by updating this page. You should check this page from time to time to ensure that you are happy with any
    changes.&nbsp;<br/>
    <br/>
    This policy is effective from 14th of July, 2016.</p>

<h3><strong>What we collect</strong></h3>

<p>We may collect the following information, we will always try and ask for the minimum amount of data to give you a
    good experience. Please check the app&nbsp;<strong>Auth Dialog</strong>&nbsp;or when you installed, you can go to&nbsp;<strong>Setting-&gt;Application
        Manager</strong>&nbsp;and then select&nbsp;<strong>Our Apps</strong>&nbsp;to see exactly what permission the app
    needs:<br/>
    -Device information(Country, Device version, Language, Network type)</p>

<h3><strong>What we do with the information we gather</strong></h3>

<p>We require this information to understand your needs and provide you with a better service, and in particular for the
    following reasons:<br/>
    - Improve App experience<br/>
    - Improve our products and services.<br/>
    - We may periodically send promotional emails about new products, special offers or other information which we think
    you may find interesting using the email address which you have provided.</p>

<h3><strong>Security</strong></h3>

<p>We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure
    we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information
    we collect online.</p>

<h3><strong>How we use cookies</strong></h3>

<p>A cookie is a small file which asks permission to be placed on your phone hard drive. Once you agree, the file is
    added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web
    applications to respond to you as an individual. The web application can tailor its operations to your needs, likes
    and dislikes by gathering and remembering information about your preferences. We use traffic log cookies to identify
    which pages are being used. This helps us analyse data about webpage traffic and improve our website in order to
    tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is
    removed from the system.Overall, cookies help us provide you with a better website, by enabling us to monitor which
    pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information
    about you, other than the data you choose to share with us. You can choose to accept or decline cookies. Most web
    browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you
    prefer. This may prevent you from taking full advantage of the website.</p>

<h3><strong>Controlling your personal information</strong></h3>

<p>You may choose to restrict the collection or use of your personal information by not accepting access to your details
    in the Auth Dialog box. You can also withdraw permissions by the app to access your data by going to the settings.
    We will not sell, distribute or lease your personal information to third parties unless we have your permission or
    are required by law to do so. We may use your personal information to send you promotional information about our own
    content which we think you may find interesting. You may request details of personal information which we hold about
    you under the Data Protection Act 1998. A small fee will be payable. If you would like a copy of the information
    held on you please contact us. If you believe that any information we are holding on you is incorrect or incomplete,
    please contact us as soon as possible. We will promptly correct any information found to be incorrect.</p>
