<body class="bg-gradient-primary" data-gr-c-s-loaded="true">
<div class="container">
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="offset-md-2 col-lg-8">
              <div class="mt-5" align="center">
                <h2>Forgot your password?</h2>
              </div>
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
                <%= devise_error_messages! %>

                <div class="form-group row">
                  <%= f.label :email, class: "col-sm-3 col-form-label" %>
                  <div class="col-sm-6">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                  </div>
                </div>

                <div class="dropdown-divider"></div>
                <div class="mt-3">
                  <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-6">
                      <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="mt-3">
                <div class="form-group row">
                  <label for="name" class="col-sm-3 col-form-label"></label>
                  <div class="col-sm-6">
                    <%= render "devise/shared/links" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>