<% if @app_setting.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@app_setting.errors.count, "error") %> prohibited this app_setting from being saved:</h2>

    <ul>
      <% @app_setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group row">
  <label for="name" class="col-sm-2 col-form-label">Name</label>
  <div class="col-sm-6">
    <%= f.text_field :name, class: "form-control", placeholder: "Enter app name" %>
  </div>
</div>

<div class="form-group row">
  <label for="email" class="col-sm-2 col-form-label">Email</label>
  <div class="col-sm-6">
    <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
  </div>
</div>

<div class="form-group row">
  <label for="copyright" class="col-sm-2 col-form-label">Copyright</label>
  <div class="col-sm-6">
    <%= f.text_field :copyright, class: "form-control", placeholder: "Copyright" %>
  </div>
</div>

<div class="form-group row">
  <label for="phone" class="col-sm-2 col-form-label">Phone</label>
  <div class="col-sm-6">
    <%= f.text_field :phone, class: "form-control", placeholder: "Phone" %>
  </div>
</div>

<div class="form-group row">
  <label for="website" class="col-sm-2 col-form-label">Website</label>
  <div class="col-sm-6">
    <%= f.text_field :website, class: "form-control", placeholder: "Website" %>
  </div>
</div>

<div class="form-group row">
  <label for="facebook" class="col-sm-2 col-form-label">Facebook</label>
  <div class="col-sm-6">
    <%= f.text_field :facebook, class: "form-control", placeholder: "Facebook" %>
  </div>
</div>

<div class="form-group row">
  <label for="twitter" class="col-sm-2 col-form-label">Twitter</label>
  <div class="col-sm-6">
    <%= f.text_field :twitter, class: "form-control", placeholder: "Twitter" %>
  </div>
</div>

<div class="form-group row">
  <label for="term_of_use" class="col-sm-2 col-form-label">Terms of use</label>
  <div class="col-sm-6">
    <%= f.text_area :terms_of_use, class: "form-control ckeditor", placeholder: "Terms of use" %>
  </div>
</div>

<div class="form-group row">
  <label for="privacy_policy" class="col-sm-2 col-form-label">Privacy policy</label>
  <div class="col-sm-6">
    <%= f.text_area :privacy_policy, class: "form-control ckeditor", placeholder: "Privacy policy" %>
  </div>
</div>
