<%= form_with(model: @app_setting, local: true) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <div class="dropdown-divider"></div>
  <div class="mt-3">
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label"></label>
      <div class="col-sm-6">
        <%= link_to 'Back', :back, class: "btn btn-dark" %>
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>