<table class="table table-bordered dataTable" id="appSettings" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
  <thead>
  <tr>
    <th>App name</th>
    <th>App email</th>
    <th>App copyright</th>
    <th>App phone</th>
    <th>App facebook</th>
    <th>App twitter</th>
    <th>App terms of use</th>
    <th>App privacy policy</th>
    <th colspan="3">Action</th>
  </tr>
  </thead>

  <tbody>
  <% @app_settings.each do |app_setting| %>
    <tr>
      <td><%= app_setting.name %></td>
      <td><%= app_setting.email %></td>
      <td><%= app_setting.copyright %></td>
      <td><%= app_setting.phone %></td>
      <td><%= app_setting.facebook %></td>
      <td><%= app_setting.twitter %></td>
      <td><%= app_setting.terms_of_use %></td>
      <td><%= app_setting.privacy_policy %></td>
      <td colspan="3"><%= link_to "<span class='fas fa-eye'></span>".html_safe, app_setting %>
        <%= link_to "<span class='fas fa-edit'></span>".html_safe, edit_app_setting_path(app_setting) %>
        <%= link_to "<span class='fas fa-trash alert-danger'></span>".html_safe, app_setting, method: :delete, data: {confirm: 'Are you sure?'} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
    $(function () {
        $('#appSettings').DataTable({});
    })
</script>
