<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>App name: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @app_setting.name %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>App email: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @app_setting.email %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>App copyright: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @app_setting.copyright %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>App phone: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @app_setting.phone %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>App website: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @app_setting.website %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>App facebook: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @app_setting.facebook %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>App twitter: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @app_setting.twitter %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>App terms of use: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @app_setting.terms_of_use.html_safe %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>App privacy policy: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @app_setting.privacy_policy.html_safe %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="mt-3">
  <%= link_to 'Edit', edit_app_setting_path(@app_setting), class: "btn btn-primary" %>
  <%= link_to 'Back', app_settings_path, class: "btn btn-dark" %>
</div>
