<% if @radio.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@radio.errors.count, "error") %> prohibited this radio from being saved:</h2>

    <ul>
      <% @radio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group row">
  <label for="name" class="col-sm-2 col-form-label">Name *</label>
  <div class="col-sm-6">
    <%= f.text_field :name, class: "form-control", placeholder: "Enter radio name" %>
  </div>
</div>

<div class="form-group row">
  <label for="name" class="col-sm-2 col-form-label">Genre *</label>
  <div class="col-sm-6">
    <%= render_genres @radio.genre %>
  </div>
</div>

<div class="form-group row">
  <label for="tags" class="col-sm-2 col-form-label">Tags *</label>
  <div class="col-sm-6">
    <%= f.text_field :tags, class: "form-control", placeholder: "Tags" %>
  </div>
</div>

<div class="form-group row">
  <label for="bitrate" class="col-sm-2 col-form-label">Bitrate</label>
  <div class="col-sm-6">
    <%= f.text_field :bitrate, class: "form-control", placeholder: "Bitrate" %>
  </div>
</div>

<div class="form-group row">
  <label for="img" class="col-sm-2 col-form-label">Image</label>
  <div class="col-sm-6">
    <%= f.file_field :img, class: "", placeholder: "Image" %>
  </div>
</div>

<div class="form-group row">
  <label for="type_radio" class="col-sm-2 col-form-label">Radio type</label>
  <div class="col-sm-6">
    <%= f.text_field :type_radio, class: "form-control", placeholder: "Radio type" %>
  </div>
</div>

<div class="form-group row">
  <label for="source_radio" class="col-sm-2 col-form-label">Source</label>
  <div class="col-sm-6">
    <%= f.text_field :source_radio, class: "form-control", placeholder: "Source" %>
  </div>
</div>

<div class="form-group row">
  <label for="link_radio" class="col-sm-2 col-form-label">Stream URL *</label>
  <div class="col-sm-6">
    <%= f.text_field :link_radio, class: "form-control", placeholder: "Stream URL" %>
  </div>
</div>

<div class="form-group row">
  <label for="user_agent_radio" class="col-sm-2 col-form-label">User agent radio</label>
  <div class="col-sm-6">
    <%= f.text_field :user_agent_radio, class: "form-control", placeholder: "User agent radio" %>
  </div>
</div>

<div class="form-group row">
  <label for="url_facebook" class="col-sm-2 col-form-label">Facebook</label>
  <div class="col-sm-6">
    <%= f.text_field :url_facebook, class: "form-control", placeholder: "Facebook" %>
  </div>
</div>

<div class="form-group row">
  <label for="url_twitter" class="col-sm-2 col-form-label">Twitter</label>
  <div class="col-sm-6">
    <%= f.text_field :url_twitter, class: "form-control", placeholder: "Twitter" %>
  </div>
</div>

<div class="form-group row">
  <label for="url_instagram" class="col-sm-2 col-form-label">Instagram</label>
  <div class="col-sm-6">
    <%= f.text_field :url_instagram, class: "form-control", placeholder: "Instagram" %>
  </div>
</div>

<div class="form-group row">
  <label for="url_website" class="col-sm-2 col-form-label">Website</label>
  <div class="col-sm-6">
    <%= f.text_field :url_website, class: "form-control", placeholder: "www.radio.com" %>
  </div>
</div>

<div class="form-group row">
  <label for="is_featured" class="col-sm-2 col-form-label">Featured</label>
  <div class="col-sm-6">
    <%= f.check_box :is_featured %>
  </div>
</div>

<div class="form-group row">
  <label for="is_active" class="col-sm-2 col-form-label">Active</label>
  <div class="col-sm-6">
    <%= f.check_box :is_active %>
  </div>
</div>
