<table class="table table-bordered dataTable" id="radiosTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
  <thead>
  <tr>
    <th>Name</th>
    <th>Genre</th>
    <th>Tags</th>
    <th>Bitrate</th>
    <th>Image</th>
    <th>Type</th>
    <th>Source</th>
    <th>Stream URL</th>
    <th>User agent</th>
    <th>Facebook</th>
    <th>Twitter</th>
    <th>Instagram</th>
    <th>Website</th>
    <th>Featured</th>
    <th>Active</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @radios.each do |radio| %>
    <tr>
      <td><%= radio.name %></td>
      <td><%= radio.genre.name %></td>
      <td><%= radio.tags %></td>
      <td><%= radio.bitrate %></td>
      <td><%= radio.img ? (link_to "<span class='fas fa-image'></span>".html_safe, "#{radio.img}", class: "btn btn-xs btn-primary") : "N/A" %></td>
      <td><%= radio.type_radio %></td>
      <td><%= radio.source_radio %></td>
      <td><%= radio.link_radio %></td>
      <td><%= radio.user_agent_radio %></td>
      <td><%= link_to "<span class='fab fa-facebook'></span>".html_safe, radio.url_facebook, class: "btn btn-xs btn-primary" %></td>
      <td><%= link_to "<span class='fab fa-twitter'></span>".html_safe, radio.url_twitter, class: "btn btn-xs btn-primary" %></td>
      <td><%= link_to "<span class='fab fa-instagram'></span>".html_safe, radio.url_instagram, class: "btn btn-xs btn-primary" %></td>
      <td><%= link_to "<span class='fas fa-globe-africa'></span>".html_safe, radio.url_website, class: "btn btn-xs btn-primary" %></td>
      <td><%= radio.is_featured ? "Yes" : "No" %></td>
      <td><%= radio.is_active ? "Yes" : "No" %></td>
      <td>
        <%= link_to "<span class='fas fa-eye'></span>".html_safe, radio %>
        <%= link_to "<span class='fas fa-edit'></span>".html_safe, edit_radio_path(radio) %>
        <%= link_to "<span class='fas fa-trash alert-danger'></span>".html_safe, radio, method: :delete, data: {confirm: 'Are you sure?'} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
    $(function () {
        $("#radiosTable").DataTable({});
    })
</script>
