<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b> Name: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @radio.name %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b> Genre: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @radio.genre.name %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>Tags: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @radio.tags %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>Bitrate: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @radio.bitrate %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>Image: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @radio.img ? (link_to "<span class='fas fa-image'></span>".html_safe, "#{@radio.img}", class: "btn btn-xs btn-primary") : "N/A" %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>Type: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @radio.type_radio %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>Source: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @radio.source_radio %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>Stream URL: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @radio.link_radio %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>User agent radio: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @radio.user_agent_radio %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>Facebook: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @radio.url_facebook %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>Twitter: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @radio.url_twitter %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>Instagram: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @radio.url_instagram %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>Website: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @radio.url_website %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>Featured: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @radio.is_featured ? "Yes" : "No" %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="row">
  <label class="control-label col-md-2 col-sm-3 col-xs-12"><b>Active: </b></label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= @radio.is_active ? "Yes" : "No" %>
  </div>
</div>
<div class="dropdown-divider"></div>

<div class="mt-3">
  <%= link_to 'Edit', edit_radio_path(@radio), class: "btn btn-primary" %>
  <%= link_to 'Back', radios_path, class: "btn btn-dark" %>
</div>
